@using System.Globalization;
@using AKSoftware.Localization.MultiLanguages;
@inject ILanguageContainerService languageContainer

<select class="rounded-end border border-dark border-2" @onclick="() => OnDropdownClick(SelectedValue)" @bind="@SelectedValue">
    @foreach (var culture in cultures)
    {
        <option value="@culture">@culture.DisplayName</option>
    }
   </select>

@code {
     public string SelectedValue { get; set; } = "en-US";
    CultureInfo[] cultures = new[]
    {
            new CultureInfo("en-US"),
            new CultureInfo("fr-FR"),
            new CultureInfo("bg-BG"),
            new CultureInfo("ja-JP"),
            new CultureInfo("af-ZA"),
            new CultureInfo("zh-SG"),
            new CultureInfo("pt-BR"),
            new CultureInfo("pt-PT"),
            new CultureInfo("zh-TW"),
            new CultureInfo("zh-SG"),
            new CultureInfo("tr-TR"),
            new CultureInfo("ur-PK"),
            new CultureInfo("da-DK"),

    };

    public async Task OnDropdownClick(string selectedValue)
    {
        try
        {
            languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(selectedValue));
        }
        catch (Exception)
        {

            throw;
        }
    }
}
