@page "/"
@using FeatureApp.Pages.WebPages

 <main class="main">
            <!--==================== HOME ====================-->
            <Home />
            <!--==================== FEATURED ====================-->
            <Feature/>
             <!--==================== PRODUCTS ====================-->
            <Products/>
             <!--==================== NEW ====================-->
            <NewArrivals/>
            
</main>
<!--==================== FOOTER ====================-->
<Footer />